<!DOCTYPE html>
<html lang="zh-cn" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Learn English</title>
    <link rel="stylesheet" type="text/css" href="mycss.css">
  </head>
  <body>
    <div id="all">
      <div id="left">
        <div id="search">
          <form class="" action="app.py" method="post">
            <input type="text" id="search" value="输入单词搜索">
          </form>
        </div>
        <div id="wordlist">
          <ul>
            <li>apple</li>
            <li>pear</li>
            <li>orange</li>
          </ul>
        </div>
      </div>
      <div id="right">
        <form class="" action="app.py" method="post">
        <select id="dictionary">
          <option value="">牛津词典</option>
          <option value="">剑桥词典</option>
          <option value="">柯林斯词典</option>
        </select>
        </form>
        <iframe src="https://www.baidu.com" width="100%" height="100%" frameborder="0"></iframe>
      </div>
      <div id="foot">
        <p>copyright2018 me</p>
      </div>
    </div>
  </body>
</html>
